<form class="form-horizontal" autocomplete="off" #createProjectForm="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'CreateNewProject' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">


        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="name">
                {{ "Name" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" id="name" [(ngModel)]="project.name"
                    #nameModel="ngModel" #nameEl />
                <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="url">
                {{ "Url" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="url" id="url" [(ngModel)]="project.url"
                    #urlModel="ngModel" #urlEl />
                <abp-validation-summary [control]="urlModel" [controlEl]="urlEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                {{ "ShowOnFrontPage" | localize }}
            </label>
            <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="showOnFrontPage" id="showOnFrontPage"
                        [(ngModel)]="project.showOnFrontPage" />
                    <label class="custom-control-label mt-2" for="showOnFrontPage"></label>
                </div>
            </div>
        </div>

    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createProjectForm.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>